server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:buy01.p12
    key-store-password: password
    key-store-type: PKCS12
    key-alias: buy01

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]': # Pour toutes les routes
                allowedOrigins:
                  - "https://localhost:4200" # Autorise Angular
                  - "http://localhost:4200"
                allowedMethods: # Autorise tout
                  - GET
                  - POST
                  - PUT
                  - DELETE
                allowedHeaders: "*"
          discovery:
            locator:
              enabled: true
          routes:
            - id: user-service-route
              uri: lb://USER-SERVICE  # On utilise le Load Balancer (Eureka)
              predicates:
                - Path=/user-service/**
              filters:
                - StripPrefix=1
          # --- NOUVELLE ROUTE ---
            - id: product-service-route
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/product-service/**
              filters:
                - StripPrefix=1
          # ... (User et Product routes au dessus)
            - id: media-service-route
              uri: lb://MEDIA-SERVICE
              predicates:
                - Path=/media-service/**
              filters:
                - StripPrefix=1
          # --- NOUVELLE ROUTE ---
            - id: cart-service-route
              uri: lb://CART-SERVICE
              predicates:
                - Path=/cart-service/**
              filters:
                - StripPrefix=1
          # --- NOUVELLE ROUTE ---
            - id: order-service-route
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/order-service/**
              filters:
                - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/