server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false
          routes:
            - id: user-service-route
              uri: lb://USER-SERVICE  # On utilise le Load Balancer (Eureka)
              predicates:
                - Path=/user-service/**
              filters:
                - StripPrefix=1
          # --- NOUVELLE ROUTE ---
            - id: product-service-route
              uri: lb://PRODUCT-SERVICE
              predicates:
                - Path=/product-service/**
              filters:
                - StripPrefix=1
          # ... (User et Product routes au dessus)
            - id: media-service-route
              uri: lb://MEDIA-SERVICE
              predicates:
                - Path=/media-service/**
              filters:
                - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/