<h3>Catalogue de nos produits</h3>
@if (products().length === 0) { <p>Pas de produits...</p> }
<div class="product-grid">
  @for (product of products(); track product.id) {
    <div class="product-card" [class.sold-out]="Number(product.quantity) <= 0">
      
      @if (Number(product.quantity) <= 0) {
        <div class="sold-out-overlay">
          Sold Out
        </div>
      }

      <div class="product-info">
        @if (product.imageIds && product.imageIds.length > 0) {
          <app-carousel [imageIds]="product.imageIds"></app-carousel>
        }
        <h3>{{ product.name }}</h3>
        <p style="color: #666;">{{ product.description }}</p>
        <p class="price"><strong>Prix :</strong> {{ product.price }} €</p>
        <p class="stock"><strong>Stock :</strong> {{ product.quantity }}</p>
        @if (product.sellerName) {
          <p class="seller">
            Vendu par : <strong>{{ product.sellerName }}</strong>
          </p>
        }
      </div>

      @if (product.id) {
        <button
                (click)="addToCart(product.id)"
                class="add-to-cart-btn"
                [disabled]="Number(product.quantity) <= 0">
          {{ Number(product.quantity) <= 0 ? 'Indisponible' : 'Ajouter au panier' }}
        </button>
      }
    </div>
  }
</div>
