server:
  port: 8086

spring:
  application:
    name: order-service
  data:
    mongodb:
      uri: mongodb://admin:password@localhost:27017/buy01_order_db?authSource=admin

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
