server:
  port: 8085

spring:
  application:
    name: cart-service
  data:
    mongodb:
      uri: mongodb://admin:password@localhost:27017/buy01_cart_db?authSource=admin

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
